name: DevOps Deployment to Render

on:
  push:
    branches:
      - prod
    paths:
      - 'server/**'
  pull_request:
    branches:
      - prod
    types: [closed]
    paths:
      - 'server/**'

jobs:
  deploy-process:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Sync Environment Variables to Render
        run: |
          curl --request PATCH \
            --url https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/env-vars \
            --header 'accept: application/json' \
            --header 'authorization: Bearer ${{ secrets.RENDER_API_KEY }}' \
            --header 'content-type: application/json' \
            --data '[
              { "key": "CLIENT_URL", "value": "${{ secrets.CLIENT_URL }}" },
              { "key": "BREVO_SENDER_EMAIL", "value": "${{ secrets.BREVO_SENDER_EMAIL }}" },
              { "key": "BREVO_SENDER_NAME", "value": "${{ secrets.BREVO_SENDER_NAME }}" },
              { "key": "BREVO_API_KEY", "value": "${{ secrets.BREVO_API_KEY }}" },
              { "key": "JWT_SECRET", "value": "${{ secrets.JWT_SECRET }}" },
              { "key": "MONGODB_URI", "value": "${{ secrets.MONGODB_URI }}" },
              { "key": "PORT", "value": "10000" },
              { "key": "NODE_ENV", "value": "production" }
            ]'

      - name: Trigger Render Deploy
        run: |
          curl --request POST \
            --url https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys \
            --header 'accept: application/json' \
            --header 'authorization: Bearer ${{ secrets.RENDER_API_KEY }}' \
            --header 'content-type: application/json'